<template>
  <div class="products">
    <form class="searchbar">
      <input placeholder="Пошук" v-model="search" />
      <input type="submit" class="btn" />
    </form>
    <div class="product" v-for="(item, index) in product" v-bind:key="item.id">
      <div class="product-image">
        <img v-bind:src="item.src" />
      </div>
      <div>
        <h4 class="product-title">
          <router-link v-bind:to="'/product/' + item.id">
            {{ item.item }}
          </router-link>
        </h4>
        <label>{{ item.price }}</label>
        <button class="btn" @click="decAmount(index)">-</button
        >{{ item.amount }}
        <button class="btn" @click="incAmount(index)">+</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      product: []
    }
  },
  mounted: function () {
    this.product = this.$store.getters.getCort
  },
  methods: {
    decAmount (index) {
      this.$store.commit('decAmount', index)
    },
    incAmount (index) {
      this.$store.commit('incAmount', index)
    }
  }
}
</script>
