<template>
  <div class="products">
    <form class="searchbar">
      <input placeholder="Пошук" v-model="search" />
      <input type="submit" class="btn" />
    </form>
    <div class="product" v-for="item in filteredItems" v-bind:key="item.id">
      <div class="product-image">
        <img v-bind:src="item.src" />
      </div>
      <div>
        <h4 class="product-title">
          <router-link v-bind:to="'/product/' + item.id">
            {{ item.item }}
          </router-link>
        </h4>
        <label>{{ item.price }}</label>
        <button class="btn" @click="addToCort(item)">Add to cart</button>
      </div>
    </div>

    <router-link v-bind:to="'/cort'" class="mainLink">
      <h2>Cort</h2>
    </router-link>
  </div>
</template>
<script>
import products from '../data/products.js'

export default {
  data: function () {
    return {
      items: [],
      search: '',
      searchResult: []
    }
  },
  mounted: function () {
    this.items = products
  },
  methods: {
    addToCort (item) {
      this.$store.commit('addToCort', item)
    }
  },
  computed: {
    filteredItems: function () {
      console.log(this)
      if (!this.search) {
        return this.items
      }
      return this.items.filter(element => {
        return element.item.toUpperCase().includes(this.search.toUpperCase())
      })
    }
  }
}
</script>
